{% extends 'base.html'%}
{% block content %}
{{block.super}}
<style>
    .image {
        height: auto;
        width: 100%;
    }
    

    .container-fluid {
        margin-top: 10%;
        background-color:#0c3329;
        color:white;
    }
    
</style>
<div class="container-fluid hood">
    <h1 style="font-family: 'Joti One'; text-align: center; color:white;" >Hoods</h1>

    <div class="row">
        
        {% for hoods in hood %}
        
        <div class="col-md-6">
            
            
            <a href="{%url 'one_hood' hoods.name %}" class="btn btn-outline-success btn-sm"
            style="font-family: 'Joti One'" ><img src="{{hoods.photo.url}}" alt="" class="image">
            </a>
            <a href="{%url 'one_hood' hoods.name %}" style="font-family: 'Joti One'">
                <p class="name" style="font-family: 'Joti One'">{{hoods.name}}</p>
            </a>
            <p >{{ hoods.location }}</p>
            <p >Occupants Count: {{ hoods.occupants_count }}</p>
            <p>{{hoods.members.count}} Member{{hoods.members.count|pluralize}}</p>
            <p style="font-family: 'Joti One'">{{ hoods.content }}</p>


            {% if request.user.profile.neighborhood == hoods %}
           
                <a href="{% url 'leave_hood' hoods.id %}" class="btn btn-outline-danger btn-sm"
                style="font-family: 'Joti One'">Leave
                    at will</a>
                <br>
                <a href="{%url 'one_hood' hoods.name %}" class="btn btn-outline-success btn-sm"
                style="font-family: 'Joti One'" >Explore {{hoods.name}}
                </a>
                {% elif not request.user.profile.neighborhood %}
                <a href="{% url 'join_hood' hoods.id %}" class="btn btn-info btn-sm"style="font-family: 'Joti One'" >Join Hood</a>
                {% endif %}
            
        </div>
        {% endfor %}
 </div>


{% endblock %}
</div>