{%extends "base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid background text-center">
    <h1 class="font-weight-bold text-center intro" style="font-family: 'Joti One'" >WELCOME </h1>
    <h1>TO</h1>
    <h1 class="hood" style="font-family: 'Joti One'">MY HOOD</h1>
</div>
<br>
<br>
<br>
<style>
body{
    background-image:url(../static/images/appartment1.png);
    background-size: cover;
}

</style>

<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h2 class="font-weight-bold hoodapp"> "There is something Permanent and something extremely profound...<br>
                in owning a HOME and Knowing your HOOD..."</h2>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" style="font-weight: bold; color: crimson;">
            <p class="community">
                "There is no power for change greater than a community discovering what it cares about."
               "The greatness of a community is most accurately measured by the compassionate actions of its members." 
               Surely, this is the one place you can easily know about your neighborhood, get to advertise your business and know connect more with people around.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>




{% endblock %}