{% extends "base.html" %}
{% block content %}
<style>
    .image{
        height: auto;
        width: 100%;
    }
    .hood{
        margin-top: 5%;
    }
</style>
<div class="container hood">
      <div class="hoods">
          <div class="row">
            <div class="col-md-6">
                <img src="{{hood.photo.url}}"class="image">
            </div>
            <div class="col-md-6">
                <p style="font-family: 'Joti One'">Neighborhood_Name: {{hood.name}}</p>
                <p style="font-family: 'Joti One'">Neighborhood_Description: {{hood.content}}</p>
                <p>Neighborhood_Count: {{hood.occupants_count}}</p>
                <p style="font-family: 'Joti One'">Neighborhood_Location: {{ hood.location }}</p>
                <p>Date Created: {{ hood.created_on|date }}</p>
                <p>Date Updated: {{ hood.updated_on|date}}</p>
            </div>
          </div>
    </div>

    <style>
        .bold{
          font-weight: bold;
        }
        .container{
          background-color: crimson;
        }
        </style>
</div>
{% endblock %}